:root .ultrus {
   --label--background-color: #ebebeb;
   --label--color: #000000;
   --label--border: none;

   --label--font-family: 'Open Sans';
   --label--border-radius: 0.25rem;

   /* normal size */
   --label--font-size: 0.75rem;
   --label--padding: 0.25rem 0.5rem 0.25rem 0.5rem;
   --label--gap: 0.5rem;
   --label--icon-size: 0.75rem;
   --label--height: 1.5rem;

   /*
   Other possible settings
   --label--max-width: 10rem;
   --label--white-space: wrap;
   */

   .small {
      --label--font-size: 0.6875rem;
      --label--padding: 0.0625rem 0.25rem 0.125rem 0.25rem;
      --label--icon-size: 0.5rem;
      --label--height: 1.1875rem;
      --label--gap: 0.25rem;
   }

   .warning       { --label--background-color: #FF9D55; }
   .warning.light { --label--background-color: #FFF5EE; }
   .danger        { --label--background-color: #CA0123; --label--color: #ffffff; }
   .danger.light  { --label--background-color: #FBEBED; --label--color: #CA0123; }
   .success       { --label--background-color: #00948F; --label--color: #ffffff; }
   .success.light { --label--background-color: #E6F4F4; --label--color: #000000; }
   .info          { --label--background-color: #00689C; --label--color: #ffffff; }
   .info.light    { --label--background-color: #E6F0F5; --label--color: #000000; }
   .black         { --label--background-color: #000000; --label--color: #ffffff; }
   .white         { --label--background-color: #ffffff; --label--border-color: #595959; }
}