:root {
   --label--background-color: #ebebeb;
   --label--color: #000000;
   --label--border: none;

   --label--font-family: 'Open Sans';
   --label--border-radius: 0.1875rem;

   /* normal size */
   --label--font-size: 1rem;
   --label--padding: 0.0625rem 0.5rem 0.0625rem 0.5rem;
   --label--gap: 0.5rem;
   --label--icon-size: 1rem;
   --label--height: 1.5rem;
   /* --label--max-width: 10rem; */
   /* --label--white-space: wrap; */

   .small {
      --label--font-size: 0.875rem;
      --label--padding: 0.0625rem 0.5rem 0.0625rem 0.5rem;
      --label--icon-size: 0.5rem;
      --label--height: 1rem;
   }

   .warning       { --label--background-color: #ffa700; }
   .warning.light { --label--background-color: #FFF4D6; }
   .danger        { --label--background-color: #e12d33; --label--color: #ffffff; }
   .danger.light  { --label--background-color: #FDF0F2; --label--color: #931519; }
   .success       { --label--background-color: #146615; --label--color: #ffffff; }
   .success.light { --label--background-color: #EAF0E9; --label--color: #093308; }
   .info          { --label--background-color: #096072; --label--color: #ffffff; }
   .info.light    { --label--background-color: #E7F4F7; --label--color: #033D48; }
   .black         { --label--background-color: #000000; --label--color: #ffffff; }
   .white         { --label--background-color: #ffffff; --label--border: 1px solid #595959; }
}