body {
   margin: 0;
   font-family: "Open Sans";
}

header {
   box-sizing: border-box;
   top: 0;
   padding: 1em;
   margin: 0;
   display: flex;
   align-items: baseline;
   gap: 2rem;
   background: #eeeeee;
   width: 100%;

   & h1 {
      flex-shrink: 1;
   }
   
   & label {
      flex-shrink: 0;
   }
}

ul-resizable {
   --margin: 0 0 1rem 0;
   --width: 34rem;
}

main {
   margin: 1rem;
}

ul-resizable {
   & header {
      padding: 1rem;
      display: block;
      margin-bottom: 1rem;

      & h2 {
         margin-bottom: 0;
      }
   }


   & label {
      display: inline-block;
      margin-right: 2rem;
      margin-top: 1rem;
   }

   & label > label {
      margin-top: 0;
      margin-right: 0.75rem;
   }
   
   & h2:first-child {
      margin-top: 0;
   }
   
   & > section {
      margin: 0;
      padding: 1rem 1rem 4rem 1rem;
   }
   
   & > section:last-child {
      margin: 0;
      padding-bottom: 1rem;
   }
   
   & > section > div {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 4px;
      margin: 0 0 4px 0;
      padding: 0;
   }
   
   table {
      gap: 2rem;
      & td, th {
         padding-right: 3rem;
      }
   }
}

h1 {
   margin: 0;
}

h1, h2 {
   font-family: "Poppins";
}

p {
   display: flex;
   gap: 4px;
}