body {
   margin: 0;
   font-family: "Open Sans";
}

header {
   box-sizing: border-box;
   top: 0;
   padding: 1em;
   margin: 0;
   display: flex;
   align-items: baseline;
   gap: 2rem;
   background: #eeeeee;
   width: 100%;

   & h1 {
      flex-shrink: 1;
   }
   
   & label {
      flex-shrink: 0;
   }
}

ul-resizable {
   --margin: 1rem;
   --width: 33rem;
}

section {
   margin: 1rem;
   border: 1px solid black;
   width: 33rem;
}

section, ul-resizable {
   & header {
      padding: 1rem;
      display: block;
      margin-bottom: 1rem;
   }

   & label {
      display: inline-block;
      margin-right: 2rem;
   }

   & h2:first-child {
      margin-top: 0;
   }

   & > div {
      margin: 0;
      padding: 0 1rem 6rem 1rem;
   }

   & > div:last-child {
      margin: 0;
      padding: 0 1rem 1rem 1rem;
   }

   & > div > div {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 4px;
      margin: 0 0 4px 0;
      padding: 0;
   }

   table {
      gap: 2rem;
   }
}

h1 {
   margin: 0;
}

h1, h2 {
   font-family: "Poppins";
}

p {
   display: flex;
   gap: 4px;
}